myemr.exe
videos/
myemr
data
notweb/SoundAndKeyLoggerWinForm/.vs/
notweb/SoundAndKeyLoggerWinForm/packages/
notweb/SoundAndKeyLoggerWinForm/SoundAndKeyLoggerWinForm/bin/
notweb/SoundAndKeyLoggerWinForm/SoundAndKeyLoggerWinForm/obj/
*.pyc
