<html>
    <body>
        {{ template "header.tmpl.html" .Header }}

        {{ range .Steps }}
            Step <a href="/step/{{ .Number }}">{{ .Number }}</a> ({{ .Type }}) <br>
            {{ if eq 0 (len .Results) }}
                &nbsp;&nbsp; Not yet completed. <br>
            {{ else }}
                {{ range .Results }}
                    &nbsp;&nbsp; Completed at {{ .CompletedAtTime | formatDateTime }} <br>
                {{ end }}
            {{ end }}
        {{ end }}

        <br>

        {{ .CompletedCount }} of {{ len .Steps }} steps completed.
        {{ if .Completed }}
            <br>Thank you for participating!
        {{ else }}
            <br><a href="/nextstep">Start the next step</a>
        {{ end }}
    </body>
</html>