<html>
    <body>
        {{ template "header.tmpl.html" .Header }}

        <table border="1">
            <tr>
              <th>Step</th>
              <th>Type</th>
              <th>Completed</th>
              <th>Action</th>
            </tr>
        {{ range .Steps }}
            <tr>
                <td>{{ .Number }}</td>
                <td>{{ .Type }}</td>
                {{ if eq 0 (len .Results) }}
                    <td>Not yet completed.</td>
                    <td><a href="/step/{{ .Number }}">Do step</a></td>
                {{ else }}
                    <td>
                    {{ range .Results }}
                        Completed at {{ .CompletedAtTime | formatDateTime }} <br>
                    {{ end }}
                    </td>
                    <td><a href="/step/{{ .Number }}">View step</a>&nbsp;&nbsp;&nbsp;<a href="/redostep/{{ .Number }}">Redo step</a></td>
                {{ end }}
            </tr>
        {{ end }}
        </table>

        {{ .CompletedCount }} of {{ len .Steps }} steps completed.
        {{ if .Completed }}
            <br>Thank you for participating!
        {{ else }}
            <br><a href="/nextstep">Start the next step</a>
        {{ end }}
    </body>
</html>