<html>
    <body>
        {{ template "header.tmpl.html" .CurrentUser }}
        <a href="/patientlist">Patient list</a> >
        <a href="/patient/{{ .Encounter.PatientID }}">{{ .Patient.Name }}</a><br>
        <h3>Encounter</h3>
        Patient: {{ .Patient.Name }}<br>
        User: {{ .User.Username }}<br>
        Date: {{ .Encounter.VisitDate | formatDateTime }}<br>
        History: {{ .Encounter.History }}<br>
        Physical: {{ .Encounter.Physical }}<br>
        Plan: {{ .Encounter.Plan }}<br>
        {{ if eq .CurrentUser.ID .User.ID  }}
            <a href="/encounter/{{ .Encounter.ID }}/edit">edit</a>
        {{ end }}
    </body>
</html>