<html>
    <body>
        {{ template "header.tmpl.html" .Header }}
        <a href="/patientlist">Patient list</a> >
        <a href="/patient/{{ .Encounter.PatientID }}">{{ .Patient.Name }}</a><br>
        <h3>Edit encounter</h3>
        <b>Patient</b>: {{ .Patient.Name }}<br><br>
        <b>User</b>: {{ .User.Username }}<br><br>
        <b>Date</b>: {{ .Encounter.VisitDate | formatDateTime }}<br><br>
        <form>

            <b>Subjective</b>:<br>
            <textarea rows="9" cols="80" name="subjective">{{ .Encounter.Subjective }}</textarea><br><br>
            <b>Objective</b>:<br>
            <textarea rows="9" cols="80" name="objective">{{ .Encounter.Objective }}</textarea><br><br>
            <b>DDx #1</b>:<br>
            <textarea rows="9" cols="80" name="ddx1">{{ .Encounter.DDx1 }}</textarea><br><br>
            <b>DDx #2</b>:<br>
            <textarea rows="9" cols="80" name="ddx2">{{ .Encounter.DDx2 }}</textarea><br><br>
            <b>DDx #3</b>:<br>
            <textarea rows="9" cols="80" name="ddx3">{{ .Encounter.DDx3 }}</textarea><br><br>

            <input type="submit" value="Save" formaction="/encounter/{{ .Encounter.ID }}" formmethod="POST">
        </form>
    </body>
</html>